<h1>Update a Category</h1>
<form name="updateCategory">
	<input type="text" value="{{category.id}}" name="id"/><br />
	<input type="text" value="{{category.cat_name}}"name="cat_name"/><br />
	<input type="text" value="{{category.description}}" name="description" /><br />
	<input type="submit" name="submitCategory" value="Update" />
</form>
<script src="js/updateCategory.js"></script>
