<h1>Index</h1>

{{#if user}}
<h3>Currently Logged in as: {{user.fname}} {{user.lname}} </h3> <form action="/logout" method="GET"> <input type="submit" value="Log Out">
{{else}}
<h3>You are logged in as: Guest</h3><a href="login">Log In</a> <a href="profile">View Profile</a> 
{{/if}}

 <a href="admin"> View Admin Features </a> <br>
<a href ="viewProducts"> View all products </a>
<a href = "employees">View all employees</a>
<a href ="customProducts"> Request a custom product </a>