<h1>Login</h1>
<form action="/authenticate" method="POST">
	<input type="text" placeholder="email" name="email" /><br />
	<input type="password" placeholder="password" name="password" /><br />
	<input type="submit" value="Log In" />
</form> <a href="signup">Sign Up</a>

{{user.password}}

<!-- {{#unless user}}
	There's no user here.
{{/unless}} -->
