This is the checkout page

<br> 

{{#each products}}

PRODUCT ID {{this.id}}

CATEGORY {{this.category}}

DESCRIPTION {{this.description}}

<br>

{{/each}}
<br>
<br>
<br>
<br>

Total cost of items : ${{total}}


<br>
<br>

<a href = "?"> Edit cart </a>

<br>
<br>

<a href = "/viewProducts/createOrder"> Checkout cart </a>

