<h1>Sign Up!</h1>
<form action="/register" method="POST">
	<input type="text" placeholder="First Name" required name="fname" /><br />
	<input type="text" placeholder="Last Name" required name="lname" /><br />
	<input type="text" placeholder="Address" required name="address" /><br />
	<input type="text" placeholder="City" required name="city" /><br />
	<input type="text" placeholder="State" required name="state" /><br />
	<input type="text" placeholder="Zip" required name="zip" /><br />
	<input type="text" placeholder="Phone" required name="phone" /><br />
	<input type="text" placeholder="Email" required name="email" /><br />
	<input type="password" placeholder="Password" name="password" /><br />
	<input type="submit" value="Register!" />
</form>
